@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";


/* Couleurs personnalisées globales */
/* :root {
  --brownDark: #431b09;
  --ivory: #fdfffa;
  --mint: #f0ffce;
  --coffee: #684939;
  --amber: #facc14;
} */

:root {
  --brownDark: #2c1b3a;
  --ivory: #fafaff;
  --mint: #d9faff;
  --coffee: #46315a;
  --amber: #ffb84d;
}

/* :root {
  --brownDark: #556b2f;
  --ivory: #fff8dc;    
  --mint: #aed9e0;    
  --coffee: #8b4513;   
  --amber: #ffcc99;    
} */


/* :root {
  --brownDark: #1a1a2e; 
  --ivory: #e0e0e0;    
  --mint: #00bcd4;     
  --coffee: #4a4a6e;   
  --amber: #ff4c65;    
} */


/* :root {
  --brownDark: #0a3d62; 
  --ivory: #f7f1e3;    
  --mint: #82ccdd;     
  --coffee: #604848;   
  --amber: #f8c291;    
} */







/* Classes utilitaires personnalisées */
.text-brownDark { color: var(--brownDark); }
.bg-brownDark { background-color: var(--brownDark); }
.border-brownDark { border-color: var(--brownDark); }
.hover\:bg-brownDark:hover { background-color: var(--brownDark); }

.text-ivory { color: var(--ivory); }
.bg-ivory { background-color: var(--ivory); }

.text-mint { color: var(--mint); }
.bg-mint { background-color: var(--mint); }

.text-coffee { color: var(--coffee); }
.bg-coffee { background-color: var(--coffee); }

.text-amber { color: var(--amber); }
.bg-amber { background-color: var(--amber); }



/* ========================== POLICES ==========================*/
@font-face {
  font-family: "NoyhrSemiLight";
  src: url("/fonts/fonnts.com-noyhr-bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}